body {
    font-family: "National-Regular" !important;
}

header {
    padding: 1em;
    font-family: "National-Bold" !important;
    text-align: center;
}

.title {
    font-size: 1.5em;
    padding-left: 0.5em;
    margin: 0;
}

.title-red {
    color: #990000;
}

.title-gold {
    color: #FFCC00;
}

#logo_usc {
    width: 12em;
}

#sc-logo{
    width: 10em;
}

@media (min-width: 768px) {
    header {
        padding: 1.5em;
    }

    #logo_usc {
        width: 17em;
    }
    
    #sc-logo{
        width: 8%;
        height: 8%;
    }

    .title {
        font-size: 2.0em;
        padding-left: 1em;
        margin: 0;
    }
}

#menu {
    color: #FFFFFF;
}

#mainNav {
    background-color: #990000;
}

#mainNav .navbar-nav {
    padding-left: -0.8em;
}

#mainNav .nav-link {
    color: #FFFFFF;
    padding-right: 2em;
}

#mainNav .nav-link:hover {
    color: #FFCC00;
}
.row{
    margin-left: 0;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 30px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;
        padding: 1em;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Lucida Sans", sans-serif;
}

.menu{
    margin-left: 3.7%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 7px;
    text-align: center;
}

.menu li:hover {
    background-color: #FFCC00;
}

.section-heading {
    font-size: 2em;
    font-weight: 900;
    color: #990000;
}

.resource-item {
    margin: 1em;
    padding: 2em;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#about-us{
    font-size: 1.1em;
    height:27em;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 22%;
    margin-top: 3em;
    margin-bottom: 16px;
    padding: 0px 4px;
}

.name{
    font-size: 1.4em;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }

    #about-us-mobile{
        display:block;
    }

    #about-us{
        display: none;
        padding-right: 0;
        height:92em;
    }
    
    col-9{
        padding-right: 0;
    }
    
    .menu{
        margin-left: 4.5%;
    }
    
    #about-us{
        font-size: 1em;
    }
    
    .resource-item {
        width: 100%;
    }
    
    .menu li {
        padding: 3px;
        margin-bottom: 7px;
        font-size: 0.8em;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.ot-title {
    color: grey;
    margin-bottom: 0;
}

