.columnCard {
  float: left;
  width: 25%;
  margin-top: 3em;
  margin-bottom: 16px;
  padding: 0px 4px;
  margin-left: 6%;
}

@media screen and (max-width: 768px) {
  .columnCard {
    width: 100%;
    display: block;
  }

}
