.form_wrapper {
	background:#fff;
	width:100%;
	max-width:100%;
	box-sizing:border-box;
	padding:15px;
	margin:0;
	position:relative;
	z-index:1;
}
.form_container {
	padding:15px;
}
.form_wrapper .row {
	margin:10px -15px;
}
.form_wrapper .row > div {
	padding:0 15px;
	box-sizing:border-box;
}
.form_wrapper .col_half {
	width:50%;
	float:left;
}
.form_wrapper label {
	display:block;
	margin:0 0 5px;
}
.form_wrapper .input_field{
	position:relative;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="tel"], textarea {
	width:100%;
	padding:10px 10px 10px 5px;
	border:1px solid #ccc;
    border-radius: 5px;
	box-sizing:border-box;
	outline:none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

textarea{
    height: 8em;
}

.text-label{
    width: 100%;
    float: left;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="tel"]:focus, textarea:focus {
	-webkit-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	-moz-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
	border:1px solid #FFCC00; 
}
.form_wrapper input[type="submit"] {
	background:#990000;
	height:50px;
	line-height:50px;
	width:20%;
	border:none;
    border-radius: 7px;
	outline:none;
	cursor:pointer;
	color:#fff;
	font-size:1.2em;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.form_wrapper input[type="submit"]:hover, .form_wrapper input[type="submit"]:focus {
	background:#FFCC00;
}
@media screen and (max-width: 650px) {
    .form_wrapper .col_half {
        width:100%;}
    .form_wrapper input[type="submit"] {
        width:30%;
        height:40px;
        font-size:0.7em;
        line-height:40px;
    }
    .form_wrapper {
	   padding:0;
    }
    .form_container {
	   padding:0;
    }
}