<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="/js/react.js"></script>
    <script src="/js/react-dom.js"></script>
	<script src="/js/browser.js"></script>
	<script type="text/babel" src="/js/database.js"></script>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/database.css">
</head>

<body>
	<div id="header">
		<div class="site-area">
			<h1 id="TNADatabase">TNA Database</h1>
			<a href="https://www.usc.edu/">
				<div id="USClogo"></div>
			</a>
		</div> 
	</div>
	<div id="content">
		<div class="site-area">
			<div id="listHeader"></div>
			<div id="listBody"></div>
		</div>
	</div>
</body>

</html>