<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Donate</title>

    <link rel="shortcut icon" type="image/png" href="/img/logo_sctna.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="/js/smoothscroll.js"></script>
    <script src="/js/donate.js"></script>

    <!-- Custom styles for this page -->
    <link href="/css/donate.css" rel="stylesheet">
</head>

<body>
    <!-------------------------Header------------------------------>
    <header>
        <div class="container">
            <label class="title">
                    <!--<label class="title-red">SC</label>-->
            <img id="sc-logo" src="/img/sc%20logo.png">
            <label><label class="title-red"><span class="notranslate">T</span></label><span class="notranslate">ROJANS</span></label>
            <label><label class="title-red"><span class="notranslate">N</span></label><span class="notranslate">EIBORHOOD</span></label>
            <label><label class="title-red"><span class="notranslate">A</span></label><span class="notranslate">SSOCIATION</span></label>
            </label>
            <img id="logo_usc" src="/img/logo_usc_full.jpg" />
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">

        <div class="container">

            <button id="menu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i> MENU
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-center js-scroll-trigger" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/about_us">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/donate">DONATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/impact_area">IMPACT AREA</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link text-center" href="#">TOWN HALL</a>
                    </li>-->
                </ul>

            </div>

        </div>

    </nav>

    <!----------------------Content---------------------->
    <section class="container-fluid resource-section" id="main-content" ng-app="Donate" ng-controller="DonateCtrl">
        <div class="row">
            <div class="col"></div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="section-heading mx-3" id="heading">Donate
                </div>
                
                <div class="resource-item">
                <section class="row content-row" id="donate-intro">
                    <div class="col">
                        <div class="donate-subheading">Make a donation to TNA</div>
                        Trojans Neighborhood Association relies on funding from USC's student government and donations. The more resources we have, the more we can do to improve our community. We use your donation to fund workshops, projects, events, and operating costs. 
                        <br>
                        <br>
                        Thank you for supporting TNA.
                        <br>
                        <br> If you would prefer to <a data-toggle="collapse" href="#donate-mail-info" role="button">Donate by Mail</a> :
                        <div class="collapse mt-1" id="donate-mail-info">
                            <div class="card card-body">
                                Attn: SC Trojans Neighborhood Association<br>
                                University of Southern California<br>
                                Office of Campus Activities SKS 410<br>
                                3607 Trousdale Parkway<br>
                                Zip: 90089-3103
                            </div>
                        </div>
                        <br>
                    </div>
                </section>

                <section class="row content-row" id="donate-amount-sec">
                    <div class="col-12 donate-subheading">Donation amount</div>
                    <div class="col">
                        <!--<div class="btn-group btn-group-toggle" data-toggle="buttons">-->
                        <div class="btn-group-toggle btn-toolbar-donate" id="amount-buttons">
                            <label class="btn btn-donate-primary-sp" ng-model="donateAmountOpts" uib-btn-radio="5" ng-click="otherAmount=null">$5</label>
                            <label class="btn btn-donate-primary-sp" ng-model="donateAmountOpts" uib-btn-radio="10" ng-click="otherAmount=null">$10</label>
                            <label class="btn btn-donate-primary-sp" ng-model="donateAmountOpts" uib-btn-radio="50" ng-click="otherAmount=null">$50</label>
                            <label class="btn btn-donate-primary-sp" ng-model="donateAmountOpts" uib-btn-radio="100" ng-click="otherAmount=null">$100</label>
                            <div class="input-group" ng-form id="donate-amount-input" name="donateAmountInput">
                                <div class="input-group-prepend btn-group-toggle">
                                    <label class="btn btn-donate-primary-sp" id="amount-other" ng-model="donateAmountOpts" uib-btn-radio="'other'" onclick="$('#donate-amount').focus();">Other</label>
                                </div>
                                <input type="number" name="donateAmount" ng-min="0.5" ng-max="100000" ng-maxlength="10" class="form-control" ng-class="{'active': donateAmountOpts=='other'}" id="donate-amount" placeholder="Your Amount" ng-model="otherAmount" ng-focus="donateAmountOpts='other'">
                            </div>
                            <span class="text-invalid ml-2" ng-show="donateAmountInput.donateAmount.$error.maxlength || donateAmountInput.donateAmount.$error.max">Exceeds number limit.</span>
                            <span class="text-invalid ml-2" ng-show="donateAmountInput.donateAmount.$error.min">At least $0.5.</span>
                        </div>
                    </div>
                </section>

                <section class="row content-row" id="donate-frequency">
                    <div class="col-12 donate-subheading">Donation Frequency</div>
                    <div class="col">
                        <div class="btn-toolbar btn-toolbar-donate" role="toolbar">
                            <div class="btn-group-toggle">
                                <label class="btn btn-donate-primary-sp" ng-model="donateFrequency" uib-btn-radio="'one_time'">One Time</label>
                                <label class="btn btn-donate-primary-sp" ng-model="donateFrequency" uib-btn-radio="'1'">Monthly</label>
                                <label class="btn btn-donate-primary-sp" ng-model="donateFrequency" uib-btn-radio="'4'">Quarterly</label>
                                <label class="btn btn-donate-primary-sp" ng-model="donateFrequency" uib-btn-radio="'12'">Annual</label>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row content-row" id="donate-methods">
                    <div class="col-12 donate-subheading">Payment Method</div>
                    <!--<div class="col-12 pb-1">
                        <small>Please click below to choose your payment method.</small>
                    </div>-->
                    <div class="col">
                        <div class="btn-toolbar btn-toolbar-donate" role="toolbar">
                            <div class="btn-group-toggle">
                                <!--<label class="btn btn-donate-primary-sp" id="donate-cards" ng-model="paymentMethod" uib-btn-radio="'cards'" onclick='$("#payment-card-info").collapse("show");' >Credit/Debit</label>-->
                                <label class="btn btn-donate-primary-sp disabled" id="donate-cards" ng-model="paymentMethod" uib-btn-radio="'cards'" ng-disabled="true" data-toggle="tooltip" data-placement="top" title="Temporary Unavailable">Credit/Debit</label>
                                <label class="btn btn-donate-primary-sp" id="donate-paypal" ng-model="paymentMethod" uib-btn-radio="'paypal'" onclick='$("#payment-card-info").collapse("hide");'>Paypal</label>
                            </div>
                        </div>
                        <div class="collapse mt-3" id="payment-card-info">
                            <div class="card card-body">
                                asd
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row content-row" id="donate-options">
                    <div class="col-12 donate-subheading">If you have a special purpose for your donation, please let us know.</div>
                    <div class="col">
                        <div class="form-group">
                            <label for="donor-designation">I want my donation to be designated toward:</label>
                            <select class="form-control" id="donor-designation" ng-model="designation">
                            <option value="General">General</option>
                            <option value="Web Development">Web Development</option>
                            <option value="Membership Fee">Membership Fee</option>
                            </select>
                        </div>
                        <div class="form-group" ng-form name="messageInput">
                            <label for="donor-comment">Leave a message:</label>
                            <input type="text" ng-maxlength="100" class="form-control" id="donor-comment" name="donorComment" placeholder="" ng-model="donateMessage">
                            <span class="text-invalid" ng-show="messageInput.donorComment.$error.maxlength">Exceeds character limit.</span>
                        </div>
                    </div>
                </section>

                <section class="row content-row">
                    <div class="col">
                        <button type="submit" class="btn btn-lg btn-donate-primary" id="submit-btn" ng-hide="paymentMethod=='paypal'">DONATE</button>
                        <div id="paypal-button-container" ng-show="paymentMethod=='paypal'" ng-class="{'div-disable':!messageInput.donorComment.$valid || !donateAmountInput.donateAmount.$valid}"></div>
                        
                        <div class="text-invalid" ng-show="!messageInput.donorComment.$valid || !donateAmountInput.donateAmount.$valid">please check the forward fields.</div>
                        <div class="modal fade" id="paymentResult" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="modal-title" id="exampleModalLabel" ng-bind="paymentResultTitle"></span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                    </div>
                                    <div class="modal-body" ng-bind="paymentResultContent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </section>



    <!------------------------Footer-------------------->
    <footer>
        <div class="container footer-upper">
            <img src="/img/bookmark.png" id="bookmark" />
            <div class="row">
                <div class="layout-half layout-half-padding">
                    <div class="footer-heading">
                        <i class="fas fa-caret-right"></i>Address
                    </div>
                    <div class="footer-content">
                        <p>University of Southern California</p>
                        <p>Office of Campus Activities SKS 410</p>
                        <p>3607 Trousdale Parkway</p>
                        <p>City: Los Angeles State: California</p>
                        <p>Zip: 90089-3103</p>
                        <p>Email: tna@usc.edu</p>
                    </div>
                </div>
                <div class="layout-half layout-half-padding">
                    <div class="footer-heading">
                        <i class="fas fa-caret-right footer-heading-icon"></i>
                        <label class="footer-heading-font">Follow us</label>
                    </div>
                    <div class="footer-content">
                        <div>
                            <i class="fas fa-angle-right" style="color: whilte;"></i>
                            <a href="https://www.facebook.com/usctna/" style="text-decoration: none"><i class="fab fa-facebook-square"></i> facebook</a>
                        </div>
                        <div>
                            <i class="fas fa-angle-right"></i>
                            <i class="fab fa-instagram"></i> instagram
                        </div>
                        <div>
                            <i class="fas fa-angle-right"></i>
                            <i class="fas fa-envelope-square"></i> <a href="mailto:tna@usc.edu" style="color: white">email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <p class="text-center">Copyright © 2018 USC SCTNA</p>
        </div>
    </footer>
</body>

</html>
