<!DOCTYPE html>
<html>

	<head>
		<title>SCTNA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<!-- Home CSS, Get Help CSS, Loading CSS -->
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/gethelp.css">
		<link rel="stylesheet" type="text/css" href="/css/loading.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Font CSS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<script type="text/javascript">var submitted=false;</script>
	</head>

	<body>
		
		<div id="header"></div>

		<section id="gethelp-form">
			<div class="container">
				<div class="section-heading">Let Us Know Your Current Problems</div>
				<div class="resources">
					<div class="row align-items-center resource-item">
						
						<!-- Form -->
						<div class="form_wrapper">
							<form id ="gform" action = "https://docs.google.com/forms/d/e/1FAIpQLSdgvRPzBq0xtLypFE8B8jlW6VsTYY8AvORdGIuC-xuqKNcLHA/formResponse?" target="hidden_iframe">
								<!-- Row -->
								<div class="row clearfix">
									<div class="col_half">
										<label>First name</label>
										<div class="input_field">
											<input type="text" name="entry.1466745086" id="entry.1466745086"/>
										</div>
									</div>
									<div class="col_half">
								  		<label>Last name</label>
								  		<div class="input_field">
											<input type="text" name="entry.666252420" id="entry.666252420"/>
								  		</div>
									</div>
							  	</div>
							  	<!-- Row -->
							  	<div class="row clearfix">
									<div class="col_half">
								  		<label><span style="color:red;">*</span>Email</label>
								  		<div class="input_field">
											<input type="email" name="entry.1402619348" id="entry.1402619348"required />
								  		</div>
									</div>
									<div class="col_half">
								  		<label>Phone</label>
								  		<div class="input_field">
											<input type="tel" name="entry.1053914321" id="entry.1053914321"pattern="[0-9]{10}" />
								  		</div>
									</div>
							  	</div>
							  	<!-- Row -->
							  	<div class="row clearfix">
									<div>
								  		<label class="text-label">What can we do for you?</label>
								  		<textarea cols="128" rows="3" name="entry.536149404" id="entry.536149404"></textarea>
									</div>
								</div>
								<input class="button" type="submit" value="Sumbit" />
							</form>
							<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
						</div>

					</div>
				</div>
			</div>
		</section>
		
		<div id="contactus"></div>
		<div id="footer"></div>

	</body>

	<!-- jQuery JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Font JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Load Header and Footer -->
	<script>
		$(function() {
			$("#header").load("/header");
			$("#contactus").load("/contact_us");
			$("#footer").load("/footer");
		});
	</script>
	<script type="text/javascript">
	  $('#gform').on('submit', function(e) {
	  $('#gform *').fadeOut(2000);
	  $('#gform').prepend('Your submission has been processed...');
	  });
	</script>
	<!-- Loading JS -->
	<script src="/js/loading.js"></script>
</html>
