<!DOCTYPE html>
<html>

    <head>
        <title>SCTNA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <!-- Logo -->
        <link rel="shortcut icon" type="image/png" href="/img/logo_sctna.png">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/getinvolved.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <label class="title">
                    <!--<label class="title-red">SC</label>-->
                    <img id="sc-logo" src="/img/sc%20logo.png">
                    <label><label class="title-red">T</label>ROJANS</label>
                    <label><label class="title-red">N</label>EIGHBORHOOD</label>
                    <label><label class="title-red">A</label>SSOCIATION</label>
                </label>
                <img id="logo_usc" src="/img/logo_usc_full.jpg"/>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">

            <div class="container">
                
                <button id="menu" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i> MENU
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-center js-scroll-trigger" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/about_us">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">DONATE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="/impact_area">IMPACT AREA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">TOWN HALL</a>
                        </li>
                    </ul>
                </div>

            </div>
            
        </nav>
        
        <section id="form">
            <div class="container">
                <div class="section-heading">Volunteer</div>
                <div class="form-item">
                    <div class="form_wrapper">
                      <div class="form_container">
                        <form id ="gform" action = "https://docs.google.com/forms/d/e/1FAIpQLSdJayebX9MvjvC2UCWSnzehZyYByEMoW_jF3DxHRwwpUU2RvQ/formResponse?" target="hidden_iframe">
                          <div class="row clearfix">
                            <div class="col_half">
                              <label><span style="color:red;">*</span>First name</label>
                              <div class="input_field">
                                <input type="text" name="&entry.743359985" id="&entry.743359985" required />
                              </div>
                            </div>
                            <div class="col_half">
                              <label><span style="color:red;">*</span>Last name</label>
                              <div class="input_field">
                                <input type="text" name="entry.212265572" id="entry.212265572"required/>
                              </div>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div class="col_half">
                              <label><span style="color:red;">*</span>Email</label>
                              <div class="input_field">
                                <input type="email" name="entry.469953170" id="entry.469953170"required />
                              </div>
                            </div>
                            <div class="col_half">
                              <label>Phone</label>
                              <div class="input_field">
                                <input type="tel" name="entry.275374779" id="entry.275374779" pattern="[0-9]{10}" />
                              </div>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div class="col_half">
                              <label><span style="color:red;">*</span>Days available</label>
                              <div class="input_field">
                                <input type="text" name="entry.52944654" id="entry.52944654" pattern="[0-9]{10}" required />
                              </div>
                            </div>
                            <div class="col_half">
                              <label><span style="color:red;">*</span>Times available</label>
                              <div class="input_field">
                                <input type="text" name="entry.1239607865" id="entry.1239607865" pattern="[0-9]{10}" required/>
                              </div>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div>
                              <label class="text-label">1. Do you have any special skills, training, or hobbies? Share!</label>
                              <textarea cols="64" rows="3" name="entry.1270334309" id="entry.1270334309"></textarea>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div>
                              <label class="text-label">2. Do you belong to any groups, clubs, or other organizations? Give us the scoop.</label>
                              <textarea cols="49" rows="3" name="entry.783275960" id="entry.783275960"></textarea>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div>
                              <label class="text-label">3. Any prior volunteer experience? Please give us organization names and dates of service.</label>
                              <textarea cols="41" rows="3" name="entry.48352809" id="entry.48352809"></textarea>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div>
                              <label class="text-label">4. Have you ever been convicted of a felony? (If yes, please explain)</label>
                              <textarea cols="60" rows="3" name="entry.1470736312" id="entry.1470736312"></textarea>
                            </div>
                          </div>
                          <div class="row clearfix">
                            <div>
                              <label class="text-label">5. How did you hear about us?</label>
                              <textarea cols="89" rows="3" name="entry.890687489" id="entry.890687489"></textarea>
                            </div>
                          </div>
                          <input class="button" type="submit" value="Sumbit" />
                        </form>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer>
            <div class="container footer-upper">
                <img src="/img/bookmark.png" id="bookmark"/>
                <div class="row">
                    <div class="layout-half layout-half-padding">
                        <div class="footer-heading">
                            <i class="fas fa-caret-right"></i>Address
                        </div>
                        <div class="footer-content">
                            <p>University of Southern California</p>
                            <p>Office of Campus Activities SKS 410</p>
                            <p>3607 Trousdale Parkway</p>
                            <p>City: Los Angeles State: California</p>
                            <p>Zip: 90089-3103</p>
                            <p>Email: tna@usc.edu</p>
                        </div>
                    </div>
                    <div class="layout-half layout-half-padding">
                        <div class="footer-heading">
                            <i class="fas fa-caret-right footer-heading-icon"></i>
                            <label class="footer-heading-font">Follow us</label>
                        </div>
                        <div class="footer-content">
                            <div>
                                <i class="fas fa-angle-right"></i>
                                <i class="fab fa-facebook-square"></i> facebook
                            </div>
                            <div>
                                <i class="fas fa-angle-right"></i>
                                <i class="fab fa-instagram"></i> instagram                                
                            </div>
                            <div>
                                <i class="fas fa-angle-right"></i>
                                <i class="fas fa-envelope-square"></i> <a href="mailto:tna@usc.edu" style="color: white">email</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-lower">
                <p class="text-center">Designed & Developed by SCTNA Web Development Team</p>
            </div>
        </footer>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script type="text/javascript">var submitted=false;</script>
        <script type="text/javascript">
          $('#gform').on('submit', function(e) {
          $('#gform *').fadeOut(2000);
          $('#gform').prepend('Your submission has been processed...');
          });
        </script>
    </body>
</html>
