<!DOCTYPE html>
<html>

	<head>
		<title>SCTNA | Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/png" href="/img/logo_sctna.png">
		<!-- Home CSS and Loading CSS -->
		<link rel="stylesheet" type="text/css" href="/css/loading.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Font CSS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body>

		<div id="header"></div>
		
		<!-- Intro -->
		<section id="intro">
			<div class="container">
				<div class="intro-text">
					<div class="intro-heading text-uppercase">WELCOME TO OUR TROJAN FAMILY NEIGHBORHOOD</div>
					<div class="intro-mission">The Trojans Neighborhood Association brings together students and the community living within the USC DPS zone in order to fight the “wicked problems” our neighborhood faces.</div>
					<a class="btn btn-warning btn-xl text-uppercase js-scroll-trigger" href="#concepts" id="learn_more">Learn More</a>
				</div>
			</div>
		</section>

		<section id="concepts">
			<div class="container">
				<div class="section-heading">WHAT WE DO</div>
				<div class="resources">
					<div class="row align-items-center resource-item">
						<div class="wwd-row">
							<img class="wwd-img" src="/img/warning.png" alt="warning" >
							<p class="wwd-content">Bring awareness to the issues plaguing our community</p>
						</div>
						<div class="wwd-row">
							<img class="wwd-img" src="/img/megaphone.png" alt="megaphone" >
							<p class="wwd-content">Create a space for members of our neighborhood to communicate and voice their concerns</p>
						</div>
						<div class="wwd-row">
							<img class="wwd-img" src="/img/idea.png" alt="idea" >
							<p class="wwd-content">Actively seek solutions to problems through projects, workshops, and events</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="events">
			<div class="container">
				<div class="section-heading">Events</div>
				<div class="resources">
					<div class="row align-items-center resource-item">
						<div class="fb-page" data-href="https://www.facebook.com/usctna" data-tabs="timeline" data-height="450" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
								<blockquote cite="https://www.facebook.com/usctna" class="fb-xfbml-parse-ignore">
									<a href="https://www.facebook.com/usctna">Trojans Neighborhood Association</a>
								</blockquote>
						</div>    
					</div>
				</div>
			</div>
		</section>
  
		<div id="contactus"></div>
		<div id="footer"></div>

	</body>

	<!-- jQuery JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Font JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- Load Header and Footer, Load Contact Us Form -->
	<script>
		$(function() {
			$("#header").load("/header");
			$("#contactus").load("/contact_us");
			$("#footer").load("/footer");
		});
	</script>
	<!-- Init Facebook Event -->
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=145059409462443&autoLogAppEvents=1';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Loading JS -->
	<script src="js/smoothscroll.js"></script>
	<script src="/js/loading.js"></script>

<!--    Translation JS
		<script type="text/javascript">
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
		</script>
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<script>
			jQuery(document).ready(function($) {
				$(window).bind("load resize", function(){
					setTimeout(function() {
						var container_width = $('#container').width();
						$('#container').html('<div class="fb-page" ' + 
						'data-href="http://www.facebook.com/IniciativaAutoMat"' +
						' data-width="' + container_width + '" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="http://www.facebook.com/IniciativaAutoMat"><a href="http://www.facebook.com/IniciativaAutoMat">Auto*Mat</a></blockquote></div></div>');
						FB.XFBML.parse( );
					}, 100);
				}); 
			});

			$('document').ready(function () {
				// RESTYLE THE DROPDOWN MENU
				$('#google_translate_element').on("click", function () {
					// Change font family and color
					$("iframe").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
					.css({
						'color': 'white',
						'font-family': 'National-Regular',
						'width':'80%'
					});
					// Change menu's padding
					$("iframe").contents().find('.goog-te-menu2-item-selected').css ('display', 'none');
					// Change menu's padding
					$("iframe").contents().find('.goog-te-menu2').css ('padding', '0px');
					// Change the padding of the languages
					$("iframe").contents().find('.goog-te-menu2-item div').css('padding', '24px');
					$("iframe").contents().find('.goog-te-menu2-item div').css('padding-right', '45px');
					$("iframe").contents().find(".goog-te-menu2-item div").css('background-color', '#990000');
					// Change the width of the languages
					$("iframe").contents().find('.goog-te-menu2-item').css('width', '100%');
					$("iframe").contents().find('td').css('width', '100%');
					// Change hover effects
					$("iframe").contents().find(".goog-te-menu2-item div").hover(function () {
						$(this).css('background-color', '#FFCC00').find('span.text').css('color', 'white');
						}, function () {
						$(this).css('background-color', '#990000').find('span.text').css('color', 'white');
					});
					// Change Google's default blue border
					$("iframe").contents().find('.goog-te-menu2').css('border', 'none');
					// Change the iframe's box shadow
					$(".goog-te-menu-frame").css('box-shadow', '0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)');
					// Change the iframe's size and position?
					$(".goog-te-menu-frame").css({
						'height': '8%',
						'width': '157px',
					});
					// Change iframes's size
					$("iframe").contents().find('.goog-te-menu2').css({
						'height': '100%',
						'width': '157px',
						'top': '5px',
					});
				});
			});
		</script> -->
	
</html>


