<section id="resource" class="resource-section">
			<div class="container">
				<div class="section-heading">Trojans for Renters Rights</div>
				<div class="resources">
					<div class="row align-items-center resource-item">
						<div class="layout-half layout-half-padding">
							<img class="resource-img" src="/img/resource_HDICLA.jpg">
						</div>
						<div class="layout-half layout-half-padding">
							<div class="resource-heading"><h4><a href="http://hcidla.lacity.org/">HCIDLA</a></h4></div>
							<div class="resource-content">
								<p>The Los Angeles Housing + Community Investment Department (HCIDLA) promotes
								livable and prosperous communities through the development and preservation of
								decent, safe, and affordable housing, neighborhood investment and social services.
								Please contact HCIDLA to make a complaint about unsafe housing conditions or
								violation of rights. Complaints can be made online or by calling <span style="font-weight:bold">1-866- 557-7368</span>.Please call if you would like to make an anonymous complaint or if the rental
								property contains more than one unit.</p>  
								<p>
									<b>Important Links:</b>
									<ul>
										<li><a href="http://hcidla.lacity.org/living-safe-conditions" style="text-decoration:none; color: #990000">Los Angeles City Information About Renters' Rights</a></li>
										<li><a href="http://hcidapp.lacity.org/ReportViolation/Pages/ReportViolation" style="text-decoration:none; color: #990000">Online Form for Reporting a Landlord or Property Management Violation</a></li>
									</ul>
								</p>                   
							</div>
						</div>
					</div>
					<div class="row align-items-center resource-item">
						<div class="layout-half layout-half-padding">
							<img class="resource-img" src="/img/resource_publichealth.jpg">
						</div>
						<div class="layout-half layout-half-padding">
							<div class="resource-heading"><h4><a href="http://publichealth.lacounty.gov/eh/AreasofInterest/housing.htm">LAC Environmental Health</a></h4></div>
							<div class="resource-content">
								<p>The Environmental Health Division is responsible for ensuring that residential
								housing is safe, sanitary, and fit for human habitation. This is accomplished through
								routine inspections of rental property with 5 or more units and investigations of
								complaints involving any housing sites.</p>
								<p>The Division has enforcement authority for all unincorporated areas of the county and
								in all cities except for Long Beach, Pasadena, and Vernon.</p>
								<p>
									<b>Important Links</b>
									<ul>
										<li>
										   <a href="https://ehservices.publichealth.lacounty.gov/servlet/guest?service=0&formId=4&saveAction=5" style="text-decoration:none; color: #990000"><b>LAC Environmental Health Complaint Form</b></a>
										</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="row align-items-center resource-item">
						<div class="layout-half layout-half-padding">
							<img class="resource-img" src="/img/resource_LADBS.png">
						</div>
						<div class="layout-half layout-half-padding">
							<div class="resource-heading"><h4><a href="http://www.ladbs.org/">LA Department of Building and Safety</a></h4></div>
							<div class="resource-content">
								<p>The LA Department of Building and Safety protects the lives and safety of the
								residents and visitors of the City of Los Angeles and aims to enhance the quality of
								life, housing, economic prosperity, and job creation citywide. Utilizing timely,
								cooperative, and transparent processes, the Department Advises, Guides, and Assists
								Customers to achieve compliance with the Building, Zoning, Plumbing, Mechanical,
								Electrical, Disabled Access, Energy, and Green codes and local and State law to Build
								Safe, Well, and Fast.</p>
								<p>Information regarding building codes can be found at the department website.
								Property owners may also request inspections through an online inspection request
								form.</p>
								<p>The Los Angeles Department of Building and Safety is responsible for investigating
								code violations on existing single family residential, commercial, industrial and
								vacant buildings inside the City of Los Angeles.</p>
								<p>To report a code violation on a private property, call 3-1- 1 or use the online form.
								For properties with two or more dwelling units (duplexes and apartment buildings),
								please contact the Los Angeles Housing Department at (866) 557-7368.</p>
								<p>
									<b>Important Links</b>
									<ul>
										<li>
											<a href="https://ehservices.publichealth.lacounty.gov/servlet/guest?service=0&formId=4&saveAction=5" style="text-decoration:none; color: #990000">Online Form for Reporting a Code Violation</a>
										</li>
									</ul>
								</p>
							</div>
						</div>
					</div>    
					<div class="row align-items-center resource-item">
						<div class="layout-half layout-half-padding">
							<img class="resource-img" src="/img/resource_USCHousing.png">
						</div>
						<div class="layout-half layout-half-padding">
							<div class="resource-heading"><h4><a href="https://communities.usc.edu/usc-housing-clinic/">USC Housing Law Clinic</a></h4></div>
							<div class="resource-content">
								<p>The USC Housing Law Clinic provides professional services in housing
								discrimination law, local affordable housing issues, and landlord-tenant dispute
								resolution. The clinic provides free legal representation to tenants that qualify for
								affordable housing within the area surrounding USC. Clients are seen by appointment
								only.</p>
								<p>
									<b>Contact Information</b>
									<ul>
										<li>Phone: (213) 743-2165</li>
										<li><a href="Email: hlclinic@usc.edu" style="text-decoration:none; color: #990000">Email: hlclinic@usc.edu</a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>