
<!DOCTYPE html>
<html>

<head>
	<title>SCTNA | Implact Area</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="/img/logo_sctna.png">
	<!-- Home CSS, Impact Area CSS, Loading CSS -->
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/impactarea.css">
	<link rel="stylesheet" type="text/css" href="/css/loading.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Font CSS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>

	<div id="header"></div>

	<section id="UPCMap">
		<div class="container">
			<div class="section-heading">University Park Campus Area</div>
			<div class="resources">
				<div class="row align-items-center resource-item">
					<div id="map-upc"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="HSCMap">
		<div class="container">
			<div class="section-heading">Health Sciences Campus Area</div>
			<div class="resources">
				<div class="row align-items-center resource-item">
					<div id="map-hsc"></div>
				</div>
			</div>
		</div>
	</section>

	<div id="contactus"></div>
	<div id="footer"></div>

</body>

<!-- jQuery JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Font JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Load Header and Footer -->
<script>
	$(function() {
		$("#header").load("/header");
		$("#contactus").load("/contact_us");
		$("#footer").load("/footer");
	});
</script>
<!-- Google Map API JS -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCilAMcnbgPM99zInhrDmgEPZPtwcPRqms&libraries=drawing,geometry"></script>
<!-- Impact Area JS -->
<script src="/js/impactarea.js"></script>
<!-- Loading JS -->
<script src="/js/loading.js"></script>

</html>